spring:
  cloud:
    config:
      enabled: false

management:
  server:
    port: 8081
  endpoints:
    web:
      exposure:
        include: health,config-schema

logging:
  level:
    root: info
    sun:
      rmi: error
    javax:
      management: error

json-config-schema:
  additional-exclude-classes:
    - "io.swagger.v3.oas.models.OpenAPI"
  title: "Spring boot generic schema"









